In [80]:
import pandas as pd
import numpy as np
import math
from scipy.spatial.distance import pdist, squareform

In [81]:
df = pd.read_csv("../health_ai_mdav_demo.csv")

In [82]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID          40 non-null     int64
 1   Age         40 non-null     int64
 2   Sex         40 non-null     object
 3   ZIP         40 non-null     int64
 4   SystolicBP  40 non-null     int64
 5   BMI         40 non-null     float64
 6   Diagnosis   40 non-null     object
dtypes: float64(1), int64(4), object(2)
memory usage: 2.3+ KB

In [83]:
df.describe()

              ID        Age           ZIP  SystolicBP        BMI
count  40.000000  40.000000     40.000000   40.000000  40.000000
mean   20.500000  51.750000  53116.600000  114.600000  24.852500
std    11.690452  15.669258      1.150251   13.285427   2.720953
min     1.000000  25.000000  53115.000000   90.000000  20.100000
25%    10.750000  41.500000  53116.000000  103.750000  22.775000
50%    20.500000  52.500000  53117.000000  119.500000  24.750000
75%    30.250000  66.000000  53117.250000  124.000000  26.650000
max    40.000000  77.000000  53119.000000  143.000000  31.500000

In [84]:
# df["Sex"] = df["Sex"].apply(lambda x: 0 if x == "F" else 1)

In [85]:
df.head()

   ID  Age Sex    ZIP  SystolicBP   BMI     Diagnosis
0   1   27   F  53116         108  27.1  Hypertension
1   2   66   M  53118         123  25.2      Migraine
2   3   59   M  53118         126  22.8        Asthma
3   4   47   F  53116         108  24.9      Diabetes
4   5   46   F  53118         110  25.0      Migraine

In [86]:
df.ZIP.nunique()

5

In [87]:
df_numerical_qi = df[["Age", "ZIP"]]
print(df_numerical_qi.shape)
df_numerical_qi_dist = pdist(df_numerical_qi)
df_numerical_qi_dist_sq = squareform(df_numerical_qi_dist)
print(df_numerical_qi_dist_sq.shape)

(40, 2)
(40, 40)

In [88]:
df_distances = pd.DataFrame(df_numerical_qi_dist_sq)

In [89]:
df_distances

,0,1,2,3,4,5,6,7,8,9,...,30,31,32,33,34,35,36,37,38,39
0,0.000000,39.051248,32.062439,20.000000,19.104973,43.046487,1.000000,34.000000,6.082763,1.000000,...,20.024984,7.000000,3.000000,26.019224,45.011110,2.000000,43.000000,42.011903,10.049876,31.064449
1,39.051248,0.000000,7.000000,19.104973,20.000000,4.000000,40.049969,5.385165,33.015148,39.115214,...,19.235384,32.062439,39.012818,13.341664,6.708204,41.048752,4.472136,3.162278,29.017236,8.000000
2,32.062439,7.000000,0.000000,12.165525,13.000000,11.000000,33.060551,2.828427,26.019224,32.140317,...,12.369317,25.079872,32.015621,6.708204,13.341664,34.058773,11.180340,10.049876,22.022716,1.000000
3,20.000000,19.104973,12.165525,0.000000,2.236068,23.086793,21.000000,14.000000,14.035669,20.024984,...,1.000000,13.000000,20.223748,6.082763,25.019992,22.000000,23.000000,22.022716,10.049876,11.180340
4,19.104973,20.000000,13.000000,2.236068,0.000000,24.000000,20.099751,15.132746,13.038405,19.235384,...,3.162278,12.165525,19.026298,7.615773,26.172505,21.095023,24.083189,23.021729,9.055385,12.000000
5,43.046487,4.000000,11.000000,23.086793,24.000000,0.000000,44.045431,9.219544,37.013511,43.104524,...,23.194827,36.055513,43.011626,17.262677,3.605551,45.044423,2.000000,1.414214,33.015148,12.000000
6,1.000000,40.049969,33.060551,21.000000,20.099751,44.045431,0.000000,35.000000,7.071068,1.414214,...,21.023796,8.000000,3.162278,27.018512,46.010868,1.000000,44.000000,43.011626,11.045361,32.062439
7,34.000000,5.385165,2.828427,14.000000,15.132746,9.219544,35.000000,0.000000,28.017851,34.014703,...,14.035669,27.000000,34.132096,8.062258,11.045361,36.000000,9.000000,8.062258,24.020824,3.605551
8,6.082763,33.015148,26.019224,14.035669,13.038405,37.013511,7.071068,28.017851,0.000000,6.324555,...,14.142136,1.414214,6.324555,20.099751,39.051248,8.062258,37.013511,36.000000,4.000000,25.019992
9,1.000000,39.115214,32.140317,20.024984,19.235384,43.104524,1.414214,34.014703,6.324555,0.000000,...,20.000000,7.071068,4.000000,26.000000,45.000000,2.236068,43.011626,42.047592,10.198039,31.144823
10,25.019992,14.317821,7.615773,5.099020,6.708204,18.248288,26.019224,9.055385,19.104973,25.000000,...,5.000000,18.027756,25.317978,1.000000,20.000000,27.018512,18.027756,17.117243,15.132746,6.708204
11,50.009999,11.401754,18.248288,30.016662,31.144823,7.615773,51.009803,16.031220,44.045431,50.000000,...,30.000000,43.011626,50.159745,24.000000,5.000000,52.009614,7.071068,8.246211,40.049969,19.235384
12,36.055513,3.000000,4.000000,16.124515,17.000000,7.000000,37.054015,2.828427,30.016662,36.124784,...,16.278821,29.068884,36.013886,10.440307,9.486833,38.052595,7.280110,6.082763,26.019224,5.000000
13,38.013156,1.414214,6.082763,18.027756,19.026298,5.099020,39.012818,4.123106,32.000000,38.052595,...,18.110770,31.016125,38.052595,12.165525,7.280110,40.012498,5.099020,4.000000,28.000000,7.071068
14,35.057096,4.000000,3.000000,15.132746,16.000000,8.000000,36.055513,2.236068,29.017236,35.128336,...,15.297059,28.071338,35.014283,9.486833,10.440307,37.054015,8.246211,7.071068,25.019992,4.000000
15,39.051248,0.000000,7.000000,19.104973,20.000000,4.000000,40.049969,5.385165,33.015148,39.115214,...,19.235384,32.062439,39.012818,13.341664,6.708204,41.048752,4.472136,3.162278,29.017236,8.000000
16,24.020824,15.033296,8.062258,4.123106,5.099020,19.026298,25.019992,10.049876,18.000000,24.083189,...,4.472136,17.029386,24.083189,2.828427,21.095023,26.019224,19.026298,18.000000,14.000000,7.071068
17,2.236068,37.013511,30.016662,18.027756,17.029386,41.012193,3.162278,32.015621,4.000000,2.828427,...,18.110770,5.099020,2.828427,24.083189,43.046487,4.123106,41.012193,40.000000,8.000000,29.017236
18,42.011903,4.242641,10.440307,22.022716,23.194827,3.162278,43.011626,8.062258,36.055513,42.000000,...,22.000000,35.014283,42.190046,16.000000,3.000000,44.011362,1.414214,2.000000,32.062439,11.401754
19,20.024984,19.235384,12.369317,1.000000,3.162278,23.194827,21.023796,14.035669,14.142136,20.000000,...,0.000000,13.038405,20.396078,6.000000,25.000000,22.022716,23.021729,22.090722,10.198039,11.401754
20,23.021729,16.031220,9.055385,3.162278,4.123106,20.024984,24.020824,11.045361,17.000000,23.086793,...,3.605551,16.031220,23.086793,3.605551,22.090722,25.019992,20.024984,19.000000,13.000000,8.062258
21,16.031220,23.021729,16.031220,4.123106,3.162278,27.018512,17.029386,18.027756,10.000000,16.124515,...,4.472136,9.055385,16.124515,10.198039,29.068884,18.027756,27.018512,26.000000,6.000000,15.033296
22,5.099020,34.014703,27.018512,15.033296,14.035669,38.013156,6.082763,29.017236,1.000000,5.385165,...,15.132746,2.236068,5.385165,21.095023,40.049969,7.071068,38.013156,37.000000,5.000000,26.019224
23,47.042534,8.000000,15.000000,27.073973,28.000000,4.000000,48.041649,13.152946,41.012193,47.095647,...,27.166155,40.049969,47.010637,21.213203,3.605551,49.040799,4.472136,5.099020,37.013511,16.000000
24,39.012818,1.000000,7.071068,19.026298,20.024984,4.123106,40.012498,5.099020,33.000000,39.051248,...,19.104973,32.015621,39.051248,13.152946,6.324555,41.012193,4.123106,3.000000,29.000000,8.062258
25,31.016125,8.062258,1.414214,11.045361,12.041595,12.041595,32.015621,3.162278,25.000000,31.064449,...,11.180340,24.020824,31.064449,5.385165,14.142136,33.015148,12.041595,11.000000,21.000000,1.000000
26,17.029386,22.022716,15.033296,3.162278,2.236068,26.019224,18.027756,17.029386,11.000000,17.117243,...,3.605551,10.049876,17.117243,9.219544,28.071338,19.026298,26.019224,25.000000,7.000000,14.035669
27,41.000000,2.828427,9.219544,21.000000,22.090722,2.828427,42.000000,7.000000,35.014283,41.012193,...,21.023796,34.000000,41.109610,15.033296,4.123106,43.000000,2.000000,1.414214,31.016125,10.198039
28,26.019224,13.341664,6.708204,6.082763,7.615773,17.262677,27.018512,8.062258,20.099751,26.000000,...,6.000000,19.026298,26.305893,0.000000,19.000000,28.017851,17.029386,16.124515,16.124515,5.830952
29,20.000000,19.104973,12.165525,0.000000,2.236068,23.086793,21.000000,14.000000,14.035669,20.024984,...,1.000000,13.000000,20.223748,6.082763,25.019992,22.000000,23.000000,22.022716,10.049876,11.180340
30,20.024984,19.235384,12.369317,1.000000,3.162278,23.194827,21.023796,14.035669,14.142136,20.000000,...,0.000000,13.038405,20.396078,6.000000,25.000000,22.022716,23.021729,22.090722,10.198039,11.401754
31,7.000000,32.062439,25.079872,13.000000,12.165525,36.055513,8.000000,27.000000,1.414214,7.071068,...,13.038405,0.000000,7.615773,19.026298,38.013156,9.000000,36.000000,35.014283,3.162278,24.083189
32,3.000000,39.012818,32.015621,20.223748,19.026298,43.011626,3.162278,34.132096,6.324555,4.000000,...,20.396078,7.615773,0.000000,26.305893,45.177428,3.605551,43.104524,42.047592,10.198039,31.016125
33,26.019224,13.341664,6.708204,6.082763,7.615773,17.262677,27.018512,8.062258,20.099751,26.000000,...,6.000000,19.026298,26.305893,0.000000,19.000000,28.017851,17.029386,16.124515,16.124515,5.830952
34,45.011110,6.708204,13.341664,25.019992,26.172505,3.605551,46.010868,11.045361,39.051248,45.000000,...,25.000000,38.013156,45.177428,19.000000,0.000000,47.010637,2.236068,3.605551,35.057096,14.317821
35,2.000000,41.048752,34.058773,22.000000,21.095023,45.044423,1.000000,36.000000,8.062258,2.236068,...,22.022716,9.000000,3.605551,28.017851,47.010637,0.000000,45.000000,44.011362,12.041595,33.060551
36,43.000000,4.472136,11.180340,23.000000,24.083189,2.000000,44.000000,9.000000,37.013511,43.011626,...,23.021729,36.000000,43.104524,17.029386,2.236068,45.000000,0.000000,1.414214,33.015148,12.165525
37,42.011903,3.162278,10.049876,22.022716,23.021729,1.414214,43.011626,8.062258,36.000000,42.047592,...,22.090722,35.014283,42.047592,16.124515,3.605551,44.011362,1.414214,0.000000,32.000000,11.045361
38,10.049876,29.017236,22.022716,10.049876,9.055385,33.015148,11.045361,24.020824,4.000000,10.198039,...,10.198039,3.162278,10.198039,16.124515,35.057096,12.041595,33.015148,32.000000,0.000000,21.023796
39,31.064449,8.000000,1.000000,11.180340,12.000000,12.000000,32.062439,3.605551,25.019992,31.144823,...,11.401754,24.083189,31.016125,5.830952,14.317821,33.060551,12.165525,11.045361,21.023796,0.000000

In [90]:
df["Sum_of_Distances"] = df_distances.apply(lambda row: np.sum(row))

In [103]:
df.head(4)

   ID  Age Sex    ZIP  SystolicBP   BMI     Diagnosis  Sum_of_Distances
0   1   27   F  53116         108  27.1  Hypertension       1001.302294
1   2   66   M  53118         123  25.2      Migraine        659.868938
2   3   59   M  53118         126  22.8        Asthma        562.655200
3   4   47   F  53116         108  24.9      Diabetes        557.622048

In [94]:
average_idx = np.argmin(np.array(df["Sum_of_Distances"]))

In [99]:
furthest_away_from_average_idx = np.argmax(np.array(df_distances[average_idx]))

In [101]:
other_end = np.argmax(np.array(df_distances[furthest_away_from_average_idx]))

In [102]:
other_end

35

In [110]:
def make_k_group(seed_member):
    group = [seed_member]

    new_df = df_distances.drop(seed_member, axis = 0)
    for i in range(4):
        new_member = np.argmin(np.array(new_df[furthest_away_from_average_idx]))
        group.append(new_member)
        new_df = new_df.drop(new_member, axis = 0)
    print(group)
    return group

In [111]:
make_k_group(35)

[35, 11, 22, 21, 20]

[35, 11, 22, 21, 20]